@page "/about"

<PageTitle>About Me</PageTitle>

<main>
    <header>
        <h1>About Me</h1>
    </header>
    <section>
        <p>I'm Raymon KC, a student at Cambrian College, exploring .NET MAUI and Blazor. I enjoy programming, tackling challenges, and discovering new technology trends. Aside from coding, I love playing soccer with my friends and enjoy hiking in the mountains.I love spending time on the nature.</p>
        <p>My goal is to create user-friendly apps that solve real-world problems. This portfolio is my first step toward that dream!</p>
    </section>
    <footer>
        <p>&copy; 2025 Raymon KC</p>
    </footer>
</main>