@page "/contact"

<PageTitle>Contact</PageTitle>

<main class="contact-main">
    <h1>Contact Me</h1>
    <section class="contact-section">
        <p>Email: kcraymon10@gmail.com</p>
        <p>LinkedIn: <a href="https://www.linkedin.com/in/raymon-kc-0281372a6/">linkedin.com/in/raymon-kc-0281372a6</a></p>
        <p>GitHub: <a href="https://github.com/raymonkc10">github.com/raymonkc10</a></p>
    </section>
</main>