@using Microsoft.AspNetCore.Components
@using MyPortfolioApp.Shared

@page "/projects"

<PageTitle>Projects</PageTitle>

<main>
    <h1>My Projects</h1>
    <section class="project-list">
        <ProjectCard Title="Sports_store" Description="A PHP-based sports store database project, focusing on CRUD operations and data management." ImageUrl="https://picsum.photos/300/200" Link="https://github.com/raymonkc10/Sports_store" />
        <ProjectCard Title="RockPaperScissors" Description="An interactive rpg game with input validation and dynamic gameplay, developed to enhance my C# skills." ImageUrl="https://picsum.photos/300/200" Link="https://github.com/raymonkc10/RockPaperScissorAdventure" />
        <ProjectCard Title="Minotaurus Labyrinth" Description="A C# game with room-based navigation and monster mechanics, exploring object-oriented programming concepts." ImageUrl="https://picsum.photos/300/200" />
        <ProjectCard Title="This Portfolio" Description="A .NET MAUI Blazor hybrid app, my first portfolio to display my skills and projects." ImageUrl="https://picsum.photos/300/200" />
    </section>
</main>

<footer class="page-footer">
    <p>© 2025 Raymon KC</p>
</footer>